.btn-danger {
  min-width: 100px;
  width: 20%;
}

.card {
  min-width: 300px;
  transition-duration: 600ms;
}

.card:hover {
  border-color: rgb(197, 197, 197);
  transition-duration: 400ms;
}

#root {
  background-color: #f5f6fa;
}